body {
    text-align: center;
    font-size: 30px;
    font-family: Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

#play-interface {
    width: 585px;
    max-width: 100%;
    background-color: lightgray;
    margin: 0 auto;
}

#title,
#score-bar {
    display: flex;
    padding: 0 40px;
}

#title {
    border-bottom: 1px solid white;
    background-color: darkgray;
    color: white;
}

.title-sub-box {
    width: 50%;
    margin: 20px 0;
}

#level {
    text-align: left;
}

#target {
    text-align: right;
}

.icon {
    margin-bottom: 10px;
    margin-right: 10px;
}

#life,
#star {
    width: 25%;
    display: flex;
    align-items:center;
}

#score {
    width: 50%;
    text-align: right;
    margin-bottom: 0;
}

.icon {
    width: 50.5px;
    height: 85.5px;
}

canvas {
    margin-top: -50px;
}

.control-btn {
    width: 200px;
    height: 70px;
    margin-bottom: 30px;
    font-size: 20px;
    text-transform: uppercase;
}

.control-btn:focus {
    outline: none;
}